[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	pager = less -R
[user]
	useConfigOnly = true
[fetch]
	prune = true
[color "grep"]
	match = red
[grep]
	linenumber=true
