[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	pager = less -R
[user]
	useConfigOnly = true
[fetch]
	prune = true
[color "grep"]
	match = red
[grep]
	linenumber=true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
